

body{
    color: white;
    background-color: black;

}

form {
    max-width:300px;
    margin: auto;
    font-family: "Rubik Mono One", monospace;
    font-weight: 800;
    font-style: normal;

}
label {
    display: block;
    margin-bottom: 10px;

}
input[type=text] {
    box-shadow: 2px 2px 5px rgb(55, 0, 255);
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    
}
.h1-container{
    display: inline-block;
    background: linear-gradient(to bottom,blue,black);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 25px;    
}
.h1-cad{
display: block;
font-size: 50px;
margin: 0;
text-shadow: 4px 4px 6px rgb(0, 0, 0);

font-family: "Holtwood One SC", serif;
font-weight: 1000;
font-style: normal;

}
.espaco-acima-form{
    margin-top: 50px;
}
button{
    margin-top: 20px;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 4px blue;
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 15px;
    
}
.button-container{

    background-color: white;
    text-align: center;
    border-radius: 50px;

}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom,black,blue);
    
    color: white;
    text-align: left;
    
}
.Instagram-icon{
    width: 30px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}
.whatsapp-icon{
    width: 30px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}
.E-mail-icon{
    width: 30px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}



